{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a data sciences masters student at the University of Bath.</p>
        <p>I would like to join a team that is utilising machine learning and data science in an ethical and progressive
          manner. Outside of my formal education I have experience applying deep learning with fastai, developing web
          applications using Flask, and in sports analytics; all of which I hope can be observed on this blog.</p>
        <p>For more sports analytics, see my other site: <a href="https://footie-radar-site.herokuapp.com" target="_blank" rel="noopener noreferrer">footie radar site</a></p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}